<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Créditos</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Autor</h2>
			<%= author %> <p>

		<h2>Imagen</h2>
	<img src="/images/imagen.jpeg" alt="Imagen autor" height="42" width="42">  <p>


	</body>
</html>
